@import url(../fonts/noto.css);
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans'; }
  *::after, *::before {
    box-sizing: border-box; }

a {
  text-decoration: underline;
  color: inherit;
  outline: none; }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: inherit;
    outline: none; }

input[type="text"],
input[type="search"],
input[type="password"],
input[type="tel"] {
  appearance: none;
  border: none;
  outline: none; }

body {
  height: 100vh;
  background-color: #fff;
  background: 0 0/cover url("../images/page-background.jpg") no-repeat; }

.site-wrapper {
  height: 100vh; }
  .site-wrapper.main-view {
    display: grid;
    grid-template-columns: 310px 1fr;
    grid-template-rows: auto;
    gap: 0; }
  .site-wrapper.hi-contrast-bg {
    background-image: url("../images/page-background-hicontrast.jpg"); }
  .site-wrapper.profile-view {
    background-color: #fff;
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-auto-columns: auto;
    gap: 0; }

.modal {
  position: absolute;
  width: 340px;
  height: 570px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: rgba(255, 255, 255, 0.98);
  opacity: 0.95;
  border: 6px solid #000;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column; }
  .modal img {
    display: block;
    margin: 0 auto 4px; }
  .modal h2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    color: #000;
    margin-bottom: 14px; }
  .modal .error {
    grid-column-end: span 2;
    color: #fd0606;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px; }
  .modal form {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .modal form .two-columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 0 20px; }
      .modal form .two-columns .error {
        padding-left: 2px;
        font-size: 11px;
        line-height: 12px;
        margin-bottom: 0; }
    .modal form .input-group {
      margin-bottom: 8px; }
      .modal form .input-group label {
        font-size: 10px;
        line-height: 11px;
        padding-left: 2px;
        display: flex;
        align-items: center;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 7px; }
      .modal form .input-group input {
        display: flex;
        align-items: center;
        height: 30px;
        width: 100%;
        background: rgba(28, 173, 138, 0.1);
        border-radius: 5px;
        font-size: 12px;
        line-height: 14px;
        color: #000;
        padding: 0 7px; }
    .modal form .modal-bottom {
      margin-top: auto; }
    .modal form button {
      border: none;
      height: 35px;
      width: 100%;
      background: rgba(28, 173, 138, 0.7);
      border-radius: 5px;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      border: 0.5px solid #E5E5E5;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      margin-bottom: 10px; }
    .modal form a, .modal form .cancel {
      font-size: 12px;
      line-height: 14px;
      display: block;
      text-align: center;
      text-decoration: underline;
      color: #245045;
      cursor: pointer; }
      .modal form a:hover, .modal form .cancel:hover {
        text-decoration: none; }

aside {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  --asideHeaderheight: 140px; }
  aside header {
    display: grid;
    height: var(--asideHeaderheight);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0 18px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
    aside header button {
      border: none;
      height: 35px;
      width: 100%;
      background: rgba(28, 173, 138, 0.7);
      border-radius: 5px;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      border: 0.5px solid #E5E5E5;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer; }
    aside header a.profile {
      align-self: start;
      justify-self: end;
      padding: 0 4px 0 12px;
      height: 22px;
      text-decoration: none;
      background-color: #a9dcd1;
      border-radius: 3px;
      display: flex;
      align-items: center;
      color: #000;
      font-size: 14px;
      line-height: 1;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
      aside header a.profile img {
        margin-left: 8px; }
    aside header .search-line {
      align-self: end;
      grid-column-end: span 2;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 30px;
      grid-template-areas: "search";
      gap: 0; }
      aside header .search-line input {
        grid-area: search;
        background-color: rgba(13, 28, 168, 0.05);
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        height: 30px;
        padding: 0 8px 0 27px;
        z-index: 2; }
      aside header .search-line .search-background {
        grid-area: search;
        height: 30px;
        font-size: 14px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1; }
        aside header .search-line .search-background img {
          margin-right: 5px; }
        aside header .search-line .search-background span {
          opacity: 0.6; }
      aside header .search-line .search-icon {
        display: none;
        grid-area: search;
        align-self: center;
        width: 12px;
        margin-left: 10px;
        z-index: 3; }
      aside header .search-line input:focus ~ .search-background,
      aside header .search-line input.with-text ~ .search-background {
        display: none; }
      aside header .search-line input:focus ~ .search-icon,
      aside header .search-line input.with-text ~ .search-icon {
        display: block; }

.search-results {
  display: none;
  margin-top: 10px;
  padding: 0 10px;
  overflow-y: auto;
  overscroll-behavior: contain;
  height: calc(100% - var(--asideHeaderheight) - 5px); }
  .search-results.visible {
    display: block; }
    .search-results.visible ~ .chat-list {
      display: none; }
  .search-results .search-result {
    display: grid;
    grid-template-columns: 45px 1fr;
    grid-template-rows: auto;
    gap: 0 10px; }
    .search-results .search-result--name {
      display: flex;
      align-items: center; }
    .search-results .search-result--smile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: rgba(196, 196, 196, 0.5);
      align-self: center; }
      .search-results .search-result--smile::before {
        content: url("../images/smile.svg");
        width: 30px;
        height: 30px; }
    .search-results .search-result--separate-line {
      background-color: rgba(0, 0, 0, 0.1);
      height: 2px;
      margin: 10px 0; }
    .search-results .search-result--wrapper:last-child .search-result--separate-line {
      display: none; }

.chat-list {
  margin-top: 5px;
  padding: 0 5px;
  overflow-y: auto;
  overscroll-behavior: contain;
  height: calc(100% - var(--asideHeaderheight) - 5px); }
  .chat-list .chat {
    padding: 5px 5px 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 45px 1fr 60px;
    grid-auto-rows: auto;
    grid-template-areas: "smile author time" "smile message counter";
    gap: 5px 0;
    cursor: pointer; }
    .chat-list .chat:nth-child(4n - 3) {
      background-color: rgba(28, 173, 138, 0.1); }
    .chat-list .chat:hover, .chat-list .chat.open {
      background-color: rgba(28, 173, 138, 0.3); }
    .chat-list .chat.unread-0 .chat--message {
      font-weight: normal; }
    .chat-list .chat--smile {
      grid-area: smile;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: rgba(196, 196, 196, 0.5); }
      .chat-list .chat--smile::before {
        content: url("../images/smile.svg");
        width: 30px;
        height: 30px; }
    .chat-list .chat--time {
      grid-area: time;
      font-size: 10px;
      line-height: 1;
      justify-self: end; }
    .chat-list .chat--author, .chat-list .chat--message {
      padding-left: 10px; }
    .chat-list .chat--author {
      grid-area: author;
      margin-top: 2px;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px; }
    .chat-list .chat--message {
      grid-area: message;
      font-size: 12px;
      line-height: 14px;
      font-weight: bold; }
    .chat-list .chat--unread-count {
      grid-area: counter;
      align-self: end;
      justify-self: end;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      background-color: #0d1ca8;
      border: 1px solid #000;
      border-radius: 50%;
      color: #fff;
      text-shadow: 0 0 1px #000; }
      .chat-list .chat--unread-count.hidden {
        display: none; }
    .chat-list .chat--separate-line {
      background-color: rgba(0, 0, 0, 0.1);
      height: 2px;
      margin: 5px 10px; }
    .chat-list .chat-wrapper:last-child .chat--separate-line {
      display: none; }

.modal {
  position: absolute;
  width: 340px;
  height: 570px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background: rgba(255, 255, 255, 0.98);
  opacity: 0.95;
  border: 6px solid #000;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column; }
  .modal img {
    display: block;
    margin: 0 auto 4px; }
  .modal h2 {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    color: #000;
    margin-bottom: 14px; }
  .modal .error {
    grid-column-end: span 2;
    color: #fd0606;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px; }
  .modal form {
    display: flex;
    flex-direction: column;
    flex-grow: 1; }
    .modal form .two-columns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 0 20px; }
      .modal form .two-columns .error {
        padding-left: 2px;
        font-size: 11px;
        line-height: 12px;
        margin-bottom: 0; }
    .modal form .input-group {
      margin-bottom: 8px; }
      .modal form .input-group label {
        font-size: 10px;
        line-height: 11px;
        padding-left: 2px;
        display: flex;
        align-items: center;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 7px; }
      .modal form .input-group input {
        display: flex;
        align-items: center;
        height: 30px;
        width: 100%;
        background: rgba(28, 173, 138, 0.1);
        border-radius: 5px;
        font-size: 12px;
        line-height: 14px;
        color: #000;
        padding: 0 7px; }
    .modal form .modal-bottom {
      margin-top: auto; }
    .modal form button {
      border: none;
      height: 35px;
      width: 100%;
      background: rgba(28, 173, 138, 0.7);
      border-radius: 5px;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      border: 0.5px solid #E5E5E5;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      margin-bottom: 10px; }
    .modal form a, .modal form .cancel {
      font-size: 12px;
      line-height: 14px;
      display: block;
      text-align: center;
      text-decoration: underline;
      color: #245045;
      cursor: pointer; }
      .modal form a:hover, .modal form .cancel:hover {
        text-decoration: none; }

.chat-messages--parent {
  margin: 10px;
  padding: 10px 20px 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: calc(100% - 20px);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 67px 1fr 57px;
  grid-template-areas: "header" "body" "input";
  gap: 0; }

.chat-messages--header {
  grid-area: header;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  position: relative; }
  .chat-messages--header .smile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.5); }
    .chat-messages--header .smile::before {
      content: url("../images/smile.svg");
      width: 30px;
      height: 30px; }
  .chat-messages--header .name {
    margin: 0 12px;
    font-size: 14px;
    color: #000;
    font-weight: bold; }
  .chat-messages--header .chat-menu {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .chat-messages--header .chat-menu.open {
      background-color: rgba(96, 198, 173, 0.3); }
      .chat-messages--header .chat-menu.open ~ .submenu {
        display: block; }
  .chat-messages--header .submenu {
    display: none;
    list-style-type: none;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
    top: calc(100% + 10px);
    right: 0; }
    .chat-messages--header .submenu li {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      padding: 5px;
      border-radius: 10px; }
      .chat-messages--header .submenu li:not(:last-child) {
        margin-bottom: 5px; }
      .chat-messages--header .submenu li:hover {
        background-color: rgba(28, 173, 138, 0.1); }
      .chat-messages--header .submenu li img {
        margin-right: 10px; }

.chat-messages--input-area {
  grid-area: input;
  display: grid;
  grid-template-columns: 25px 1fr 35px;
  grid-auto-rows: auto;
  align-items: center;
  gap: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  position: relative; }
  .chat-messages--input-area .clip, .chat-messages--input-area .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  .chat-messages--input-area .clip {
    height: 25px;
    filter: grayscale(100%) contrast(0); }
    .chat-messages--input-area .clip.open {
      filter: none; }
      .chat-messages--input-area .clip.open ~ .submenu {
        display: block; }
  .chat-messages--input-area input {
    background-color: rgba(96, 198, 173, 0.2);
    height: 35px;
    border-radius: 18px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    margin-left: 7px;
    margin-right: 10px; }
  .chat-messages--input-area .arrow {
    background-color: #0d1ca8;
    width: 35px;
    height: 35px;
    border-radius: 50%; }
  .chat-messages--input-area .submenu {
    display: none;
    list-style-type: none;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
    left: -10px;
    bottom: 70px; }
    .chat-messages--input-area .submenu li {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      padding: 5px;
      border-radius: 10px; }
      .chat-messages--input-area .submenu li:not(:last-child) {
        margin-bottom: 5px; }
      .chat-messages--input-area .submenu li:hover {
        background-color: rgba(28, 173, 138, 0.1); }
      .chat-messages--input-area .submenu li img {
        margin-right: 10px; }

.chat-messages--body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  height: calc(100vh - 154px); }
  .chat-messages--body .chat-message {
    margin-bottom: 30px; }
    .chat-messages--body .chat-message:first-child {
      margin-top: auto; }
    .chat-messages--body .chat-message:last-child {
      margin-bottom: 20px; }
  .chat-messages--body .date-line {
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    line-height: 15px; }
  .chat-messages--body .text-message, .chat-messages--body .image-message {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "message";
    gap: 0;
    max-width: 393px; }
  .chat-messages--body .text-message {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px; }
    .chat-messages--body .text-message.is-my-message {
      align-self: flex-end;
      max-width: 350px;
      background-color: rgba(0, 26, 255, 0.05); }
  .chat-messages--body .image-message {
    overflow: hidden;
    grid-template-rows: 225px;
    min-height: 225px; }
    .chat-messages--body .image-message .chat-message--time-and-status {
      transform: translate(-5px, -15px); }
  .chat-messages--body .chat-message--text {
    grid-area: message;
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.8);
    padding-right: 30px;
    z-index: 1; }
  .chat-messages--body .chat-message--image {
    font-size: 0;
    grid-area: message;
    z-index: 1; }
  .chat-messages--body .chat-message--time-and-status {
    grid-area: message;
    z-index: 2;
    align-self: end;
    justify-self: end;
    display: flex;
    align-items: center;
    transform: translate(5px, 5px); }
    .chat-messages--body .chat-message--time-and-status .chat-message--status {
      margin-right: 7px;
      align-items: center;
      display: none; }
      .chat-messages--body .chat-message--time-and-status .chat-message--status.visible {
        display: flex; }
    .chat-messages--body .chat-message--time-and-status .chat-message--time {
      font-size: 9px;
      line-height: 11px;
      color: #60c6ad; }

.chat-action-popup {
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 4;
  cursor: pointer; }
  .chat-action-popup.open {
    display: block; }
  .chat-action-popup .modal {
    cursor: auto;
    border: none;
    padding: 30px 30px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: auto; }
    .chat-action-popup .modal form button {
      margin-top: 45px; }
