@import _common

.back-link
	background-color: rgba(96, 198, 173, 0.1)
	display: flex
	align-items: center
	justify-content: center

	.arrow
		background-color: #0d1ca8
		width: 35px
		height: 35px
		border-radius: 50%
		display: flex
		align-items: center
		justify-content: center

.center_class
	display: flex
	align-items: center
	flex-direction: column
	padding: 0 10px

	.big_avatar
		display: flex
		align-items: center
		justify-content: center
		margin-top: 60px
		width: 130px
		height: 130px
		border-radius: 50%
		background-color: rgba(196, 196, 196, 0.5)
		position: relative
		overflow: hidden

		input
			opacity: 0
			position: absolute
			height: 100%
			width: 100%

		img
			height: 130px
			width: 130px

		&::before
			content: url('../images/big_avatar_holder.svg')
			width: 44px
			height: 44px

		&.with_avatar
			&::before
				content: none

	.new_name
		margin-top: 10px
		font-size: 12px
		color: #000
		line-height: 14px

	.profile_field
		display: flex
		width: 510px
		height: 30px
		margin-top: 35px
		border-radius: 5px
		background-color: rgba(28, 173, 138, 0.1)

		.field_assignment
			font-size: 12px
			line-height: 14px
			margin: 10px
			color: rgba(0, 0, 0, 0.5)




		.field_data
			font-size: 14px
			line-height: 14px
			margin: 0 10px 0 auto
			background-color: transparent
			border: none
			text-align: right
			&:focus
				outline: none

	.top_margin
		margin-top: 15px

	.change_data_flex
		width: 300px
		margin-top: 75px

		.change_data_field
			font-size: 12px
			color: #245045
			margin-left: auto
			margin-right: auto
			margin-top: 11px
			line-height: 14px
			text-decoration: underline

	.change_data_flex2
		width: 300px
		margin-top: 15px

		.change_data_field
			font-size: 12px
			color: #245045
			margin-left: auto
			margin-right: auto
			margin-top: 11px
			line-height: 14px
			text-decoration: underline

	.green_button_exit
		height: 35px
		width: 300px
		margin-top: 20px
		background: rgba(28, 173, 138, 0.7)
		border-radius: 5px
		font-size: 14px
		line-height: 16px
		display: flex
		align-items: center
		justify-content: center
		color: #FFFFFF
		border: 0.5px solid #E5E5E5
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
		cursor: pointer



