template.register-form--template
    .site-wrapper.hi-contrast-bg
        .modal
            img(src="../images/main-logo.svg", alt="Messenger")
            h2 Регистрация
            form.register
                .input-group
                    label(for="name") Имя и Фамилия
                    input(type="text" name="name" id="name" autofocus)

                .input-group
                    label(for="login") Логин
                    input(type="text" name="login" id="login")

                .input-group
                    label(for="phone") Телефон
                    input(type="tel" name="phone" id="phone")

                .two-columns
                    .input-group
                        label(for="password1") Пароль
                        input(type="password" name="password1" id="password1")
                    .input-group
                        label(for="password2") Пароль
                        input(type="password" name="password2" id="password2")
                    .error

                .modal-bottom
                    button Зарегистрироваться
                    a(id="button_to_login") Уже есть аккаунт?