doctype html
html.class-for-routing2(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Messenger
        block styles
            link(rel="stylesheet", href="/sass/common.sass")
            link(rel="stylesheet" href="/sass/profile.sass")
            link(rel="stylesheet" href="/sass/chatPage.sass")
            link(rel="stylesheet" href="/sass/index.sass")
    body.class-for-routing
        block content
            div(id="root")
            script(type="module" src='main.js')
