template.chat-action-popup--template
	.chat-action-popup
		.window.modal
			form
				img(src="../images/main-logo.svg" alt="")
				h2
				.input-group
					label Логин
					input(type="text")
				.error
				.modal-bottom
					button
					.cancel Отмена