.modal
	position: absolute
	width: 340px
	height: 570px
	left: 50%
	top: 50%
	transform: translate(-50%, -50% ) // по центру
	padding: 30px
	background: rgba(255, 255, 255, 0.98)
	opacity: 0.95
	border: 6px solid #000
	box-sizing: border-box
	border-radius: 10px
	padding: 24px
	display: flex
	flex-direction: column

	img
		display: block
		margin: 0 auto 4px

	h2
		font-size: 16px
		line-height: 18px
		font-weight: normal
		text-align: center
		color: #000
		margin-bottom: 14px

	.error
		grid-column-end: span 2
		color: #fd0606
		font-size: 12px
		line-height: 14px
		margin-bottom: 20px

	form
		display: flex
		flex-direction: column
		flex-grow: 1

		.two-columns
			display: grid
			grid-template-columns: 1fr 1fr
			grid-template-rows: auto
			gap: 0 20px

			.error
				padding-left: 2px
				font-size: 11px
				line-height: 12px
				margin-bottom: 0

		.input-group
			margin-bottom: 8px

			label
				font-size: 10px
				line-height: 11px
				padding-left: 2px
				display: flex
				align-items: center
				text-align: center
				color: rgba(0, 0, 0, 0.5)
				margin-bottom: 7px

			input
				display: flex
				align-items: center
				height: 30px
				width: 100%
				background: rgba(28, 173, 138, 0.1)
				border-radius: 5px
				font-size: 12px
				line-height: 14px
				color: #000
				padding: 0 7px

		.modal-bottom
			margin-top: auto

		button
			@include GreenButton
			margin-bottom: 10px

		a, .cancel
			font-size: 12px
			line-height: 14px
			display: block
			text-align: center
			text-decoration: underline
			color: #245045
			cursor: pointer

			&:hover
				text-decoration: none