template.chat-image-message--template
	.chat-message.image-message
		.chat-message--image
			img(src="" alt="")
		.chat-message--time-and-status
			time.chat-message--time

template.chat-text-message--template
	.chat-message.text-message
		.chat-message--text
		.chat-message--time-and-status
			.chat-message--status
				img(src="../images/chat-icons/message-read.svg" alt="")
			time.chat-message--time