template.chat-messages--parent--template
	.chat-messages--parent

template.chat-messages--header--template
	.chat-messages--header
		.smile
		.name Игорь
		.chat-menu
			img(src="../images/chat-icons/chat-menu.svg" alt="")
		ul.submenu
			li(data-action="addUser")
				img(src="../images/chat-icons/add-user.svg")
				span.menu-action Добавить пользователя
			li(data-action="removeUser")
				img(src="../images/chat-icons/remove-user.svg")
				span.menu-action Удалить пользователя
			li(data-action="deleteChat")
				img(src="../images/chat-icons/delete-chat.svg")
				span.menu-action Удалить чат

template.chat-messages--input-area--template
	.chat-messages--input-area
		.clip
			img(src="../images/chat-icons/clip.svg" alt="")
		input(type="text" placeholder="Сообщение" name="newMessage")
		.arrow
			img(src="../images/chat-icons/send-arrow.svg" alt="")
		ul.submenu
			li
				img(src="../images/chat-icons/attach-photo-video.svg")
				span.menu-action Фото или видео
			li
				img(src="../images/chat-icons/attach-file.svg")
				span.menu-action Файл
			li
				img(src="../images/chat-icons/attach-location.svg")
				span.menu-action Локация

template.chat-messages--body--template
	.chat-messages--body
		.chat-message.date-line 17 Мая 2021


template.chat-text-message--template
	.chat-message.text-message
		.chat-message--text
		.chat-message--time-and-status
			.chat-message--status
				img(src="../images/chat-icons/message-read.svg" alt="")
			time.chat-message--time

template.chat-image-message--template
	.chat-message.image-message
		.chat-message--image
			img(src="" alt="")
		.chat-message--time-and-status
			time.chat-message--time


template.chat-action-popup--template
	.chat-action-popup
		.window.modal
			form
				img(src="../images/main-logo.svg" alt="")
				h2
				.input-group
					label Логин
					input(type="text")
				.error
				.modal-bottom
					button
					.cancel Отмена


script(src="../js/loadChatPage.ts")