extends include/layout.pug

block styles
	link(rel="stylesheet" href="../sass/chatPage.sass")

block content
	.site-wrapper.main-view
		aside
			include ../components/Sidebar/template.pug
			script(src='../components/Sidebar/index.ts')
		main
			include ../components/ChatPageWithChat/template.pug
			script(src="../components/ChatPageWithChat/index.ts")