extends include/layout.pug

block styles
    link(rel="stylesheet", href="../sass/common.sass")

block content
    .site-wrapper.hi-contrast-bg
        .modal
            img(src="../images/main-logo.svg", alt="Messenger")
            h2 Выбор страницы для review
            form.login
                .modal-bottom
                    a(href="./login.pug") Авторизация
                    a(href="./register.pug") Регистрация
                    a(href="./index2.pug") Страница чата
                    a(href="./chat-page.pug") Страница чата с перепиской
                    a(href="./profile.pug") Профиль

                    a(href="../js/example/test.pug") Тестовая страница

