extends include/layout.pug

block styles
	link(rel="stylesheet" href="../sass/index.sass")

block content
	.site-wrapper.main-view
		aside
			include ../components/Sidebar/template.pug
			script(src='../components/Sidebar/index.ts')
		main.centered
			img(src="../images/chat.svg")
			.info Выберите чат, чтобы отправить сообщение