extends include/layout.pug

block styles
	link(rel="stylesheet" href="../sass/profile.sass")

block content
	.site-wrapper.profile-view
		a.back-link(href="index.pug")
			.arrow
				img(src="../images/back-arrow.svg" alt="")