extends include/layout

block styles
	link(rel="stylesheet" href="../sass/profile.sass")
	link(rel="stylesheet" href="../sass/chatPage.sass")


block content
	include ../components/ProfilePage/template
	script(src="../components/ProfilePage/index.ts")