template.chat-list--template
	.chat-list

template.chat-list-item--template
	.chat-wrapper
		.chat
			.chat--smile
			time.chat--time
			.chat--author
			.chat--message
			.chat--unread-count
		.chat--separate-line

script(src="../js/sidebar/loadChatList.ts")