include ../ChatHeader/template.pug
include ../MessagesBody/template.pug
include ../InputArea/template.pug
include ../MessagesArea/template.pug
include ../ChatMessage/template.pug
include ../Popup/template.pug

