template.chat-list-item--template
    .chat-wrapper
        .chat
            .chat--smile
            time.chat--time
            .chat--author
            .chat--message
            .chat--unread-count
        .chat--separate-line