extends include/layout.pug

block styles
    link(rel="stylesheet", href="../sass/common.sass")
    link(rel="stylesheet" href="../sass/profile.sass")
    link(rel="stylesheet" href="../sass/chatPage.sass")
    link(rel="stylesheet" href="../sass/index.sass")

block content
    .app
    div(style='display: none')
        include ../components/LoginPage/template.pug
    div(style='display: none')
        include ../components/RegisterPage/template.pug
    div(style='display: none')
        include ../components/ProfilePage/template.pug
    div(style='display: none')
        template.chat-form--template
            .site-wrapper.main-view
                aside
                    include ../components/Sidebar/template.pug
                    script(src='../components/Sidebar/index.ts')
                main.centered
                    img(src="../images/chat.svg")
                    .info Выберите чат, чтобы отправить сообщение
    script(src='../components/RegisterPage/index.ts')
    script(src='router_tmpl.js')


