template.sidebar-header--template
    header
        img(src="../images/main-logo.svg" alt="Messenger")
        a.profile(id='button_profile') Профиль
            img(src="../images/round-arrow.svg" alt="")