template.sidebar-header--template
    header
        img(src="../images/main-logo.svg" alt="Messenger")
        a.profile(href="profile.pug") Профиль
            img(src="../images/round-arrow.svg" alt="")