header
	img(src="../images/main-logo.svg" alt="Messenger")
	a.profile(href="profile.pug") Профиль
		img(src="../images/round-arrow.svg" alt="")
	.search-line
		input(type="search")
		.search-background
			img(src="../images/search.svg" alt="")
			span Поиск
		img.search-icon(src="../images/search.svg" alt="")